= simple_form_for [@supplier, @article], :validate => true, :remote => true do |f|
  :javascript
    const articleUnitRatioTemplate$ = $($.parseHTML("#{escape_javascript(render(partial: 'shared/article_unit_ratio', locals: {article_unit_ratio: @empty_article_unit_ratio, f: f, article_unit_ratio_counter: -1}))}"));
    const units = #{raw(@units_data.to_json)};
    new ArticleForm(articleUnitRatioTemplate$, $('.article-form'), units);

  = f.hidden_field :shared_updated_on
  = f.hidden_field :supplier_id
  .modal-header
    = close_button :modal
    %h3= @article.new_record? ? t('.title_new') : t('.title_edit')
  .modal-body.article-form
    = f.input :availability
    = f.input :name

    = render partial: 'shared/article_fields_units', locals: {f: f}

    = render partial: 'shared/article_fields_price', locals: {f: f}

    = f.input :note
    = f.association :article_category
    / TODO labels
    = f.input :origin
    = f.input :manufacturer
    = f.input :order_number
  .modal-footer
    = link_to t('ui.close'), '#', class: 'btn', data: {dismiss: 'modal'}
    = f.submit class: 'btn btn-primary'
