= f.fields_for(:article_unit_conversions, article_unit_conversion) do |sub_form|
  %tr{:class => 'no-indent-left'}
    -# title: unit quantifier
    %td
      = hidden_field "article[article_unit_conversions_attributes][#{article_unit_conversion.sort - 1}]", :sort, value: article_unit_conversion.sort
      = sub_form.input :amount, {input_html: {class: 'input-mini'}, label: false}
    %td= '&times;'.html_safe
    -# title: unit dropdown
    %td= sub_form.select :unit_un_ece, options_for_select(@article_units, article_unit_conversion.unit_un_ece), include_blank: true
    %td.actions{style: 'width:1em'}
      = link_to t('.remove'), method: :delete, 'data-remove-conversion' => true, title: 'remove', class: 'btn btn-danger btn-mini' do
        = glyph :remove
